*
{
    font-size: 60px;
}
#foo
{
    color: red;
}
#bar
{
    color: blue;
}
iframe
{
    border: 1px solid black;
    width: 100%; /* takes precedence over the width set with the HTML width attribute */
}
.youtube{
    position: relative;
    overflow: hidden;
    padding-bottom: 56.25%; /* 16:9 (9÷16=0.5625) */
}
.youtube iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}