*
{
    font-size: 60px;
}
#foo
{
    color: red;
}
#bar
{
    color: blue;
}
iframe
{
    border: 1px solid black;
    width: 100%; /* takes precedence over the width set with the HTML width attribute */
}